version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    env_file:
      - ./backend/.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  ollama:
    build: ./backend/ollama
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    restart: unless-stopped

  backend_app:
    build: ./backend
    container_name: nest_app
    restart: always
    depends_on:
      - db
      - ollama
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: db
      OLLAMA_URL: http://ollama:11434
      NODE_ENV: development
    volumes:
      - ./backend:/usr/src/app
    command: npm run start:dev

  frontend_app:
    build: ./frontend
    container_name: vite_app
    restart: always
    depends_on:
      - backend_app
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:3000
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev -- --host 0.0.0.0

volumes:
  mysqldata:
  ollama_data:
