version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  app:
    build: ./backend
    container_name: nest_app
    restart: always
    depends_on:
      - db
      - ollama
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DB_HOST: db
      OLLAMA_URL: http://ollama:11434
      NODE_ENV: development
    volumes:
      - ./backend:/usr/src/app
    command: npm run start:dev

volumes:
  mysqldata:
  ollama_data:
