.bg-intellux-sidebar {
  background-color: rgba(57, 252, 242, 0.2) !important;
}

.bg-intellux-feed {
  background-color: rgba(57, 252, 242, 0.2) !important;
}

.btn-sidebar-inactive {
  background-color: white !important;
  border: 2px solid #14145f !important;
  color: #14145f !important;
  border-radius: 25px !important;
}

.btn-sidebar-inactive:hover {
  background-color: #14145f !important;
  border-color: #14145f !important;
  color: white !important;
}

.btn-sidebar-active {
  background-color: #14145f !important;
  border: 2px solid #14145f !important;
  color: white !important;
  border-radius: 25px !important;
}

.image-zoom-container {
  overflow: hidden;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.image-zoom {
  transition: transform 0.3s ease-in-out;
}

.image-zoom:hover {
  transform: scale(1.05);
}
